body {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 700px;
  margin: 0 auto;
  border: 1px solid red;
}

nav {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/** HOME DASHBOARD **/
#dashboard {
  height: 500px;
  border: 1px solid green;
}

/* Project List */

#project-list {

}

.project-item {
  border: 1px solid purple;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.project-item-title , .project-item-description {
  margin: 0;
}

.project-item-description {
  padding: 0 20px;
}

.project-item-date {
  margin: 0 0 0 auto;
  color: gray;
}

/** PROJECT **/

#project {
  border: 1px solid black;
}